*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

.head{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    background-color: #8b9dde;
}

.logo{
    font-size: 25px;
    color: white;
}

.navigation{
    display: flex;
    gap: 30px;
    font-size: 20px;
    margin-top: 13px;
    font-weight: 800;

}
.Hero{
    background-color: #88c2e6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    width: 100%;
}
.hero-left p{
    font-size: 35px;
    margin: 10px;
    font-weight: 700;
}
.hero-left h2{
    font-size: 55px;
    font-weight: 800;
}

.second-left{
    background-color: #88c2e6;
}
.name-section p{
    font-size: 35px;
    margin: 10px;
    font-weight: 700;
}

.name-section h2{
    font-size: 55px;
    font-weight: 800;
}

.second-left{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.role{
    color: red;

}
